.weekCalendar{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }
  
  .weekCalendar{
    margin: 5px;
  } 
  
  @media (min-width: 420px) {
    .weekCalendar{
      margin: 5px 5px 15px 5px;
    } 
  }
  
@media (min-width: 950px) {
  .weekCalendar{
    max-width: 900px;
    margin: 5px auto 15px auto;
  } 
  }
