.button, .threeButtons a{
    font: bold 11px Arial;
    text-decoration: none;
    color: white;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

.backRed{
    background-color: #C1292E;
}

.backRed:hover{
    background-color: rgb(133, 29, 32);
}

.backGreen{
    background-color: #4CB944;
}

.backGreen:hover{
    background-color: rgb(54, 133, 48);
}

.backBlue{
    background-color: #3B5998;
}

.backBlue:hover{
    background-color: rgb(38, 56, 95);
}