.day{
    border: solid black 1px;
    width: 55px ;
    height: 45px;
    font-size: 11.5px;
    background-color: #EDF0F5;
  
  }
  
  .greenDay{
    border: solid #4CB944 3px;
    width: 55px ;
    height: 45px;
    font-size: 11.5px;
    background-color: #EDF0F5;
  }
  
  @media (min-width: 420px) {
    .day{
      width: 55px ;
      height: 50px;
      font-size: 13px;
    }
    .greenDay{
      width: 55px ;
      height: 50px;
      font-size: 15px;
    }  
  }
  
@media (min-width: 950px) {
  .day{
    width: 65px ;
    height: 60px;
    font-size: 13px;
  }
  .greenDay{
    width: 65px ;
    height: 60px;
    font-size: 15px;
  }

  }