.day{
    border: solid black 1px;
    width: 55px ;
    height: 45px;
    font-size: 11.5px;
    background-color: #EDF0F5;
  
  }
  
  .greenDay{
    border: solid #4CB944 3px;
    width: 55px ;
    height: 45px;
    font-size: 11.5px;
    background-color: #EDF0F5;
  }
  