.links{
    display: block;
    width: 100%;
    border: none;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    color: black;
}
.links:hover {
  color: #C1292E;
}

.list{
    border: solid 2px black;
    margin: 25px 0px;
    padding: 10px 0px;
    border-radius: 25px;
    background-color: white;
  }

  @media (min-width: 420px) {
    .list{
      max-width: 700px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  
@media (min-width: 950px) {
  .list{
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
  }