* {
    box-sizing: border-box;
  }
  html{
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Open Sans",
    sans-serif;
    font-size: 20px;
    color: black;
    text-align: center;
    line-height: 1.5;
    height: 100%;
    background-color: #edf0f5;
  }
  
  header {
    padding: 35px 15px;
    text-align: center;
    color: black;
  }

  input{
    border-color: #bdc7d8;
    border: 1px solid #ccd0d5;
  }
  
  h1 h2, h3, h4{
    color: black;
  }
  p {
    margin: 0 auto;
    max-width: 650px;
  }
  
  p + p {
    margin-top: 15px;
  }

  .red{
    color: red;
  }
  
  .blue{
    color: blue;
  }