* {
    box-sizing: border-box;
  }
  html{
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Open Sans",
    sans-serif;
    font-size: 20px;
    color: black;
    text-align: center;
    line-height: 1.5;
    height: 100%;
    background-color: #edf0f5;
  }

  main{
    margin: 5px 5px 20px 5px;
  }
  
  header {
    padding: 35px 15px;
    text-align: center;
    color: black;
  }

  input{
    border-color: #bdc7d8;
    border: 1px solid #ccd0d5;
  }
  
  h1 h2, h3, h4{
    color: black;
  }
  h1{
    padding-top: 5px;
  }
  p {
    margin: 0 auto;
    max-width: 650px;
  }
  
  p + p {
    margin-top: 15px;
  }

footer.footer{
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: .8rem; 
  padding-left: 1rem;
  color: rgb(170, 170, 170);
}


.red{
  color: #C1292E;
}

.blue{
  color: blue  ;
}