.header {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }

.header h2 {
    margin: 5px;
  }

.header a {
  color: white;
    text-decoration: none;
  }

.navlinks{
    margin: 5px;
    padding: 5px;
}

