.header {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }

.header h2 {
    margin: 5px;
  }

.header a {
  color: white;
    text-decoration: none;
  }

.navlinks{
    margin: 5px;
    padding: 5px;
}

nav{
  padding: 1% 0;
  background-color: #aaa;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #3b5998;
  color: white
}

